<div id="results" class="row">
  <div class="col-md-4" style="padding: 0;">
    <form>
      <table id="league-table" class="styled-table">
        <thead>
        <tr>
          <th colspan="7" style="text-align: center;">Свойдная табица</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="width: 130px;">Команда</td>
          <td style="width: 50px;">PTS</td>
          <td style="width: 50px;">P</td>
          <td style="width: 50px;">W</td>
          <td style="width: 50px;">D</td>
          <td style="width: 50px;">L</td>
          <td style="width: 50px;">GD</td>
        </tr>
        {% for team in teams %}
          <tr>
            <td>{{ team.team_name }}</td>
            <td>{{ team.points }}</td>
            <td>{{ team.played }}</td>
            <td>{{ team.win }}</td>
            <td>{{ team.draw }}</td>
            <td>{{ team.lose }}</td>
            <td>{{ team.goal_difference }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <button id="play-all-matches" {% if weeksLeft == 0 %}disabled{% endif %}>Play all matches</button>
      <button id="simulate-week" {% if weeksLeft == 0 %}disabled{% endif %}>Next week</button>
      <button id="play-new-tournament">Play new tournament</button>
    </form>
  </div>
  <div class="col-md-4" style="padding: 0;">
    <form id="edit-results-form">
      <table class="styled-table" style="margin: 0 5px">
        <thead>
        <tr>
          <th colspan="4">Результаты матчей</th>
        </tr>
        </thead>
        <tbody>
        {% for week, weekMatches in matches %}
          <tr>
            <td colspan="4">Результат игр на {{ week }} неделе</td>
          </tr>
          {% for match in weekMatches %}
            <tr>
              <td>{{ match.team_1_name }}</td>
              <td><input type="number" name="" value="{{ match.score_team_1 }}" style="width: 70px;"></td>
              <td><input type="number" name="" value="{{ match.score_team_2 }}" style="width: 70px;"></td>
              <td>{{ match.team_2_name }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
        </tbody>
      </table>
    </form>
  </div>
  <div class="col-md-4" style="padding: 0;">
    {% if probabilities is not empty %}
      <table class="styled-table" style="margin-left: 17px">
        {% for week, probability in probabilities %}
        <thead>
        <tr>
          <th colspan="4">Шансы на победу после {{ week }} недели</th>
        </tr>
        </thead>
        <tbody>
          {% for data in probability %}
            <tr>
              <td>{{ data.team }}</td>
              <td>{{ data.probability }} %</td>
            </tr>
          {% endfor %}
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
</div>
